.contacts {
    position: absolute;
    top: 20px;
    right: 1px;
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    color: inherit;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.contacts__description {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
    text-decoration: underline;
}
.contacts__description:hover {
    opacity: 1;
}