.footer {
    background: #4b73b5;
    color: #ffffff;
    clear: both;
    font-size: 14px;
}
.footer__container {
    padding: 14px 0 13px 0;
}
.letter {
    width: 236px;
    display: inline-block;
    font-weight: 300;
    line-height: 18px;
}
.author {
    font-weight: bold;
}
.loft {
    color: inherit;
    font-weight: 700;
}
.logo__footer {
    margin: 0 235px;
}
.social-networks {
    width: 170px;
    display: inline-block;
    float: right;
}
.social-networks__link {
    font-size: 0px;
}
.social-networks__head {
    font-weight: 700;
}
.social-networks__item {
    display: inline-block;
}
.social-networks__link:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 9px 10px 0 0;
    background: #ffffff center center no-repeat;
    border-radius: 10px;
}
.social-networks__link--vk:before {
    background-image: url("../img/social_icons/vk.png");
}
.social-networks__link--fb:before {
    background-image: url("../img/social_icons/fb.png");
}
.social-networks__link--google:before {
    background-image: url("../img/social_icons/google.png");
}
.social-networks__link--twitter:before {
    background-image: url("../img/social_icons/twitter.png");
}
.social-networks__link--mail:before {
    background-image: url("../img/social_icons/mail.png");
}