.tariffs-section {
    margin: 16px 0px 0px 0px;
}
.tariff {
    margin: 27px 0px 0px 28px;
}
.tariff__name, .tariff__desc-heading, .tariff__cost {
    text-align: center;
}
.tariff__name {
    color: #212121;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin: 35px 0 26px 0;
}
.tariff__content:before {
    content: "";
    width: 72px;
    height: 72px;
    background: #4b73b5 center center no-repeat;
    margin: 43px auto 35px;
    display: block;
    border-radius: 36px;
}
.tariff__content--1:before {
    background-image: url("../img/flower.png");
}
.tariff__content--2:before {
    background-image: url("../img/star.png");
}
.tariff__content--3:before {
    background-image: url("../img/palette.png");
}
.tariff__desc-heading, .tariff__desc-list {
    width: 188px;
    margin: 10px auto;
    font-size: 18px;
    color: #221f1f;
    font-weight: 300;
    line-height: 30px;
}
.tariff__desc-list-item {
    list-style-type: disc;
    margin: 0 0 15px 0;
}
.tariff__cost {
    margin: 35px 0 48px 0;
    color: #202020;
    font-size: 54px;
}
.tariff__cost-amount {
    letter-spacing: -1.07px;
    color: #212121;
}
.tariff__item {
    border-radius: 5px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: -2px;
    border: 1px solid #fff;
}

.tariff__item--active /* или так ----> nth-child(2) */ {
    border: 1px solid #e8e9ed;
}
.tariff__item:hover {
    border: 1px solid #e8e9ed;
}