body {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.42;
    color: #221f1f;
    margin: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}







.wrapper__intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/intro.png") 100% 100% no-repeat;
    background-size: cover;
}

.intro__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.intro__content {
    padding: 10px 10px;
    animation-name: intro-animation;
    animation-duration: 2s;
    transform-origin: center bottom;
    /* animation-delay: 4s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
    animation-iteration-count: infinite;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@keyframes intro-animation {
    from,
    20%,
    53%,
    80%,
    to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translateY(-30px);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translateY(-15px);
    }

    90% {
        transform: translateY(-4px);
    }
}

.intro__button {
    padding: 0 20px;
    margin-top: 40px;
    border: 1px solid #1c5bc3;
    border-radius: 5px;
    color: #1c5bc4;
    font-size: 12px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-decoration: none;
    transition: 0.3s;
}

.intro__btn:after {
    margin-left: 9px;
    content: "";
    display: inline-block;
    vertical-align: center;
    width: 15px;
    height: 14px;
    background: center center no-repeat;
    background-image: url("../img/intro_icon.png");
    transition: 0.3s;
}

.intro__button:hover {
    background-color: #1c5bc3;
    color: #ffffff;
    transition: 0.3s;
}
.intro__btn:hover:after {
    background-image: url("../img/intro_icon_hover.png");
    transition: 0.3s;
}






.header {
    background: #4b73b5;
    color: #ffffff;
}
.container {
    margin: 0 auto;
    width: 1160px;
} 
.header__container {
    display: flex;
    padding: 20px 0 17px;
}
.header__col {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}
.header__col--align-right {
    justify-content: flex-end;
}
.contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
}
.contacts__phone {
    color: inherit;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.contacts__description {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
    transition: 1s;
    text-decoration: underline;
    text-align: right;
    position: relative;
}
.contacts__description:hover {
    cursor: pointer;
}


.schedule__wrapper {
    opacity: 0;
    width: 163px;
    height: 81px;
    position: absolute;
    background: #fff;
    top: 80px;
    color: #000;
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}
.schedule__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.schedule__block:before {
    content: "";
    border: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    right: 10px;
    margin-left: 0px;
    top: -24px;
    width: 0;
}
.contacts__description-hover:hover .schedule__wrapper {
    opacity: 1;
    /* 1)transition-property 2)transition-duration 3)transition-timing-function 4)transition-delay; */
    transition: opacity 1s cubic-bezier(.43,-0.42,.16,1.63); 
}

.contacts__description-hover:hover .contacts__description {
    opacity: 1;
    transition: 1s;
}

.schedule__block {
    color: #1c5bc3;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.schedule__dinner {
    color: #221f1f;
    font-weight: 300;
}









.page {
    margin-top: 20px;
}

.page__container {
    display: flex;
   /* justify-content: space-between; <---или так(1)*/
}



.sidebar {
    width: 26%;
    display: flex;
    flex-direction: column;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__link {
    color: #4b73b5;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 12px;
    position: relative;
    transition: color 0.3s;
}
.menu__item {
    margin-right: 10%;
    padding-left: 37px;
}

.menu__link:before {/*before--синий */
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -37px;
    transform: translateY(-50%);
    background: center center no-repeat;
    opacity: 1;
    transition: 0.3s;

}
.menu__link--main:before {
    background-image: url("../img/aside_icon/aside_icon.png");
    background-position: -46px 0px;
    width: 17px;
    height: 18px;
}
.menu__link--feed:before {
    width: 20px;
    height: 18px;
    background-image: url("../img/aside_icon/aside_icon.png");
    background-position: 0px -18px;
}
.menu__link--team:before {
    background-image: url("../img/aside_icon/aside_icon.png");
    background-position: 0px 0px;
    width: 23px;
    height: 18px;
}


.menu__link:after {/*after--черный */
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -37px;
    transform: translateY(-50%);
    background: center center no-repeat;
    opacity: 0;
    transition: 0.3s;

}
.menu__link--main:after {
    background-image: url("../img/aside_icon/aside_icon.png");
    background-position: -46px -18px;
    width: 17px;
    height: 18px;
}
.menu__link--feed:after {
    background-image: url("../img/aside_icon/aside_icon.png");
    width: 20px;
    height: 18px;
    background-position: -20px -18px;
}
.menu__link--team:after {
    background-image: url("../img/aside_icon/aside_icon.png");
    background-position: -23px 0px;
    width: 23px;
    height: 18px;
}

.menu__link:hover {
    color: #221f1f;
    transition: 0.4s;
}
.menu__link:hover:before {
    opacity: 0;
    transition: 0.3s;
}
.menu__link:hover:after {
    opacity: 1;
    transition: 0.3s;
}

.menu__item--active .menu__link {
    color: #221f1f;
}
.menu__item--active .menu__link:before {
    display: none;
}
.menu__item--active .menu__link:after {
    opacity: 1;
}




.page-content {
    display: flex;
    flex-direction: column;
    width: 74%;
    /* margin-left: auto;<---или так(1) */
}




.breadcrumbs {
    margin-top: 15px;
}
.breadcrumbs__list {
    display: flex;
    opacity: 0.8;
}
.breadcrumbs__link {
    color: #1c5bc3;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 0px;
}
.breadcrumbs__item:before {
    content: "/";
    color: #1c5bc3;
    margin-right: -3px;
    margin-left: 3px;
}
.breadcrumbs__item:nth-of-type(1):before {
    display: none;
}
.breadcrumbs__item--active .breadcrumbs__link {
    color: #221f1f;
    text-decoration: none;
}
.breadcrumbs__item--active:before {
    color: #221f1f;
}


.picture__image {
    margin-top: 12px;
    display: block;
    max-width: 119%;
}


.section-title {
    font-size: 49px;
    color: #221f1f;
    font-weight: 700;
    line-height: 38px;
}


.reviews-section {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}
.reviews {
    margin-top: 45px;
}
.reviews__item {
    display: flex;
    padding-bottom: 20px;
    margin-top: 30px;
    border-bottom: 2px solid #f5f5f5;
}
.reviews__date {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}
.reviews__theme {
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    margin-top: 4px;
}
.reviews__text {
    color: #221f1f;
    font-weight: 300;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 0; 
}
.reviews__item:last-child {
    padding-bottom: 0;
    border: none;
}
.reviews__item:first-child {
    margin-top: 0;
}
.reviews__appearance {
    padding-top: 5px;
    padding-right: 21px;
    width: 23%;
}
.reviews__avatar {
    display: inline-block;
    overflow: hidden;
    max-width: 171px;
    max-height: 171px;
    border-radius: 50%;

}
.reviews__avatar-pic {
    display: block;
    max-width: 100%;
}
.reviews__desc {
    width: 77%;
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.pagination__display {
    font-size: 14px;
    color: #656464;
    font-weight: 300;
    line-height: 21px;
}
.pagination__controlls {
    display: flex;
}
.pagination__list {
    display: flex;
}
.pagination__prev, .pagination__next {
    padding: 0 10px;
    text-decoration: none;
    color: #221f1f;
}
.pagination__prev {
    margin: 0 10px 0 15px;
}
.pagination__next {
    margin-left: 10px;
}
.pagination__link {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #221f1f;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.3s;
}
.pagination__link:hover {
    color: #1c5bc3;
    transition: 0.3s;
}
.pagination__link--active:hover {
    color: #ffffff;
}
.pagination__link--active {
    background: #4b73b5;
    color: #ffffff;
}


.partners-section {
    margin-top: 7px;
    margin-right: 25px;
    padding-bottom: 30px;
    border: 1px solid #e8e9ed;
}
.partners__section-title {
    color: #221f1f;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    margin-top: 28px;
}
.partners {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
}
.partners__item {
    margin-top: 40px;
    /* margin-top: 64px; */
    flex: 1 0 190px;
}
.partners__item:first-child {
    margin-top: 0; 
}
.partners__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners__pic {
    filter: grayscale(100%);
    max-width: 100%;
    transform: scale(0.8);
    transition: 1s;
}
.partners__pic:hover {
    transform: scale(1);
    filter: grayscale(0%);
    transition: 0.3s;
}



.tariffs-section {
    margin-top: 16px;
}
.tariff {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 6px;
}
.tariff__item {
    /* margin-top: 34px; */
    display: flex;
    justify-content: center;
    flex: 1 0 150px;
    border: 1px solid #fff;
    border-radius: 5px;
    max-width: 272px;
}
.tariff__item--active {
    border-color: #e8e9ed;
}
.tariff__item:hover {
    border-color: #e8e9ed;
}
.tariff__content {
    position: relative;
    max-width: 210px;
    margin-top: 26px;
    padding: 0 5px;
}
.tariff__content:before {
    content: "";
    /* position: absolute; */
    /* transform: translateX(-50%); */
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #4b73b5 center center no-repeat;
    
}
.tariff__content:after {
    content: "";
    position: absolute;
    top: 18px;
    transform: translateX(-50%);
    display: inline-block;
    background-image: url("../img/tariff_icon/tariff_icon.png");
    background-position: -32px 0px;
    width: 27px;
    height: 31px;
}

.tariff__header {
    margin-top: 15px;
    color: #221f1f;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

.tariff__name {
    margin-top: 9px;
    color: #212121;
    font-size: 11px;
    font-weight: 700;
    line-height: 51.38px;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}
.tariff__desc-heading, .tariff__desc-list {
    font-size: 18px;
    color: #221f1f;
    font-weight: 300;
    line-height: 30px;
}
.tariff__desc-heading {
    margin: 0;
}
.tariff__desc-list {
    margin-left: 20px;
}
.tariff__desc-list-item {
    margin-top: 5px;
    text-align: left;
    list-style-type: disc;
}
.tariff__cost {
    color: #212121;
    font-size: 54px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 9px;
}
.tariff__cost-value {
    color: #202020;
    
}
.tariff__cost-amount {
    letter-spacing: -1.07px;
}




.news-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.news {
    margin-top: 46px;
    display: flex;
}
.news__item {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}
.news__item:last-child {
    margin-right: 0px;
}
.news__appearance {
    display: flex;
    justify-content: center;
}
.news__date {
    color: #656464;
    font-weight: 300;
    line-height: 21px;
}
.news__theme {
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    margin-top: 3px;
}
.news__text {
    color: #221f1f;
    font-weight: 300;
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 0; 
}

.news__avatar {
    display: inline-block;
    overflow: hidden;
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;

}
.news__avatar-pic {
    display: block;
    max-width: 100%;
}
.news__desc {
    margin-top: 47px;
}





.team-section {
    margin-top: 44px;
}
.team {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
}
.team__item {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex: 1 0 220px;
}
.team__person {
    max-width: 258px;
}
.team__appearance {
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;
}
.team__avatar {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 69%;
    height: 100%;
    position: relative;
}
/* .team__avatar-pic {
    z-index: 0;
} */
.team__avatar-pic, .team__avatar-name, .team__avatar-overlay {
    max-width: 100%;
    position: absolute;
}
.team__avatar-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    z-index: 10;
    transform: scale(1);
    transition: 1s;
}
.team__avatar-overlay {
    z-index: 5;
    opacity: 0.6;
    transform: scale(1);
    transition: 1s;
}
.team__item:hover {
    cursor: pointer;
}
/* .team__item:hover .team__avatar-name,.team__item:hover .team__avatar-overlay {
    display: none;
} */
.team__item:hover .team__avatar-name,.team__item:hover .team__avatar-overlay {
    transform: scale(0);
    transition: 0.3s;
}
.team__desc {
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #221f1f;
}
.team__desc p {
    margin-bottom: 0;
    margin-top: 5px;
}
.team__person-name {
    font-size: 18px;
    font-weight: 700;
}
.team__person-status {
    color: #4b73b5;
    font-weight: 700;
}





.application {
    background-image: url("../img/application.png");
    color: #ffffff;
}
.application__container {
    margin-top: 64px;
    display: flex;
    justify-content: center;

}
.support {
    /* width: 54%; */
    width: 91%;
    color: #ffffff;
    line-height: 30px;
    font-weight: 300;
    font-size: 18px;
    padding: 23px 14px;
    margin-top: 10px;
    background-image: url("../img/pattern.png");
    text-align: center;
}
.support p {
    margin: 0;
}
.support span {
    text-decoration: underline;
    font-weight: 700;
}
.contacts__phone--application {
    font-size: 18px;
}


.form__container {
    display: flex;
    justify-content: center;
    margin-top: 62px;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 52px 98px 46px;
    width: 66%;
    background-color: #f5f5f5;
    color: #221f1f;
    line-height: 28px;
    font-size: 14px;
    font-weight: 300;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
}
.form__row:nth-child(2) {
    margin-top: 20px;
}
.form__block {
    flex: 1;
    margin-right: 22px;
}
.form__block:last-child {
    margin-right: 0;
}
.form__input {
    min-width: 150px;
    width: 100%;
    height: 45px;
    outline: none;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 3px;
}

.form__input--textarea {
    resize: vertical;
    height: 90px;
}

.form__input::placeholder {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    color: #221f1f;
}
.form__input:focus {
    border-color: #4b73b5;
}


.form-controls {
    flex: 1;
    min-width: 183px;
}
.form-controls__buttons {
    display: flex;
}
.form-controls__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.form-controls__btn:last-child {
    margin-right: initial;
}
.form-controls__real-radio {
    display: none;
}
.form-controls__fake-radio {
    position: relative;
    margin-right: 6px;
    height: 20px;
    width: 20px;
    border: 1px solid #c9c9c9;
    background-image: linear-gradient(to bottom, #ededed 0%, #ffffff 100%);
    border-radius: 50%;
}
.form-controls__fake-radio:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ;
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #4b73b5;
}
.form-controls__real-radio:checked ~ .form-controls__fake-radio:before {
    width: 8px;
    height: 8px;
}
.form-controls__real-radio:checked ~ .form-controls__fake-radio {
    border-color: #4b73b5;
}
.form-controls__real-radio:checked ~ .form-controls__btn-title {
    color: #4b73b5;
}


.btn {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #4b73b5;
    padding: 0 40px 0 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    position: relative;
    transition: 0.5s;
}
.btn:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 121px;
    transform: translateY(-50%);
    background: center center no-repeat;
}
.btn:before {
    background-image: url("../img/button_icon/button_icon.png");
    background-position: 0px 0px;
    width: 15px;
    height: 14px;
    opacity: 1;
    transition: 0.5s;
}
.btn:after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: center;
    top: 50%;
    left: 121px;
    transform: translateY(-50%);
    background: center center no-repeat;
}
.btn:after {
    background-image: url("../img/button_icon/button_icon.png");
    background-position: -15px 0px;
    width: 15px;
    height: 14px;
    opacity: 0;
    transition: 0.5s;
}


.btn:hover {
    color: #1c5bc3;
    background-color: #ffffff;
    transition: 0.5s;
}
.btn:hover:after {
    opacity: 1;
    transition: 0.5s;
}
.btn:hover:before {
    opacity: 0;
    transition: 0.5s;
}



.footer {
    background-color: #4b73b5;
    margin-top: 80px;
    color: #ffffff;
    font-size: 14px;
}
.footer__container {
    padding: 14px 0;
    display: flex;
}
.footer__col {
    display: flex;
    flex: 1;
}
.footer__col--align-center {
    justify-content: flex-end;
    align-items: center;
}
.social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.footer__col--align-right {
    margin-top: 30px;
    justify-content: center;
}
.footer__col p {
    width: 70%;
    margin: 0;
    font-weight: 300;
    line-height: 18px;
}
.author {
    font-weight: bold;
}
.loft {
    color: inherit;
    font-weight: 700;
}
.social-networks__head {
    font-weight: 700;
}
.social-networks__list {
    display: flex;
    flex-wrap: wrap;
}
.social-networks__link {
    margin-right: 10px;
    font-size: 0px;
    padding: 10px;
    background:#fff center center no-repeat;
    transition: 0.3s;
    border-radius: 50%;
    position: relative;
}
.social-networks__link:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: center center no-repeat;
}
.social-networks__link--vk:before {
    background-image: url("../img/social_icons/social_icon.png");
    background-position: -11px -9px;
    width: 12px;
    height: 7px;
}
.social-networks__link--fb:before {
    background-image: url("../img/social_icons/social_icon.png");
    background-position: -27px 0px;
    width: 6px;
    height: 13px;
}
.social-networks__link--google:before {
    background-image: url("../img/social_icons/social_icon.png");
    background-position: 0px 0px;
    width: 15px;
    height: 9px;
}
.social-networks__link--twitter:before {
    background-image: url("../img/social_icons/social_icon.png");
    background-position: 0px -9px;
    width: 11px;
    height: 9px
}
.social-networks__link--mail:before {
    background-image: url("../img/social_icons/social_icon.png");
    background-position: -15px 0px;
    width: 12px;
    height: 9px;
} 
.social-networks__link:hover {
    background-color: #d2def3;
    transition: 0.3s;
}